@font-face {
  font-family: "rubikbold";
  src: url("./fonts/rubik-bold-webfont.woff2") format("woff2"), url("./fonts/rubik-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "rubikregular";
  src: url("./fonts/rubik-regular-webfont.woff2") format("woff2"),
    url("./fonts/rubik-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
